[user]
	email = k-kurakata@hykwlab.org
	name  = umaaaaa
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	editor = vim -c \"set fenc=utf-8\"
[push]
	default = matching
